<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1><%= t("user_mailer.password_reset.header", user_name: @user.name) %></h1>
        <p><%= t("user_mailer.password_reset.body_1") %></p>
        <p><%= link_to t("user_mailer.password_reset.link_text"), @reset_url %></p>
        <p><%= t("user_mailer.password_reset.body_2") %></p>
        <p><%= t("user_mailer.password_reset.body_3") %></p>
    </body>
</html>
